<div style="justify-content: center;padding-left: 4%;padding-top: 3%;">
    <section class="page_404">
        <div class="container">
            <div class="row">	
            <div class="col-sm-12 ">
            <div class="col-sm-10 col-sm-offset-1  text-center">
            <div class="four_zero_four_bg">
                <h1 class="text-center " style="font-family: 'Signika Negative', sans-serif;"> 404 </h1>
            </div>
            
            <div class="contant_box_404">
            <h3 class="h2" style="font-family: 'Signika Negative', sans-serif;">
            Sorry, The page does not exist
            </h3>
            
            <p style="font-family: 'Signika Negative', sans-serif;">Try using the button below to go to main page !</p>
            
            <a (click)="onClickToHomePage()" class="link_404">Go to Home</a>
        </div>
            </div>
            </div>
            </div>
        </div>
    </section>
</div>
