#forgotPassword{
    padding-top: 5%;
}

#FpasswordHeaderTitle{
    font-family: 'Acme', sans-serif;
    font-size: 40px;
    text-align: center;
}

#passwordChangePassword{
    display:flex;
    justify-content: center;
}

#formStyle{
    width : 500px;
}

#UserToLoginEmoji{
    display: flex;
    justify-content: center;
    padding-top: 10%;
    
}

#warningContent{
    display: flex;
    justify-content: center;
    padding-top: 3%;
}
#warningButton{
    display: flex;
    justify-content: center;
}
