<div >
    <div id="forgotPassword" *ngIf="this.username !=null;else makeUserToLogin">
        <div>
            <h2 id="FpasswordHeaderTitle">Forgot Password</h2>
        </div>
        <br>
        <div id="passwordChangePassword" >
            <form class="example-form" #PasswordChanger="ngForm" [style.display]=" success ? 'none' : 'block'">
                <mat-form-field  id="formStyle">
                <mat-label>Password</mat-label>
                <input type="password" matInput [formControl]="passwordFormControl" placeholder="Minimum character lenght should be 8" [(ngModel)]="password" (ngModelChange)="passwordFieldsChanged()">
                <mat-error *ngIf="passwordFormControl.hasError('password') && !passwordFormControl.hasError('required')">
                    Please enter a valid password
                </mat-error>
                <mat-error *ngIf="passwordFormControl.hasError('required')">
                    Password is <strong>required</strong>
                </mat-error>
                </mat-form-field>
                <br>
                <br>
                <mat-form-field  id="formStyle">
                    <mat-label>Confrom password</mat-label>
                    <input type="password" matInput [formControl]="confromPasswordFormControl" placeholder="Minimum character lenght should be 8" [(ngModel)]="conformPassword" (ngModelChange)="passwordFieldsChanged()">
                    <mat-error *ngIf="confromPasswordFormControl.hasError('password') && !confromPasswordFormControl.hasError('required')">
                        Please enter a valid password
                    </mat-error>
                    <mat-error *ngIf="confromPasswordFormControl.hasError('required')">
                    Conform password is <strong>required</strong>
                    </mat-error>
                </mat-form-field>
                <br>
                <br>
                <button mat-flat-button color="accent" (click)="onSubmit()" [style.display]="changePasswordButton ? 'block' : 'none'">Change password</button>
            </form>   
            <br>
            <div [style.display]=" success ? 'block' : 'none'">
                    <mat-card>
                        <mat-card-content>
                            <h3 style="color:green;text-align: center;font-family: 'EB Garamond', serif;font-size: 20px;"> Your password have been changed sucessfully. please proceed to login page and login with your new password </h3>
                            <div  style="display:flex;justify-content: center;">
                                <button mat-raised-button color="primary" (click)="routeToLogin()">Login</button>
                            </div>
                        </mat-card-content>
                    </mat-card>
            </div>  
        
        </div>
    </div>
    <ng-template #makeUserToLogin>
        <div id="UserToLoginEmoji">
            <h1 style="font-size: 100px;">🤔</h1>
        </div>
        <br>
        <br>
        <div >
            <div id="warningContent">
                <h2 style="font-family: 'Acme', sans-serif;font-size:25px">OOPS!. Seems like you need to <span id="logintxt">LOGIN</span> first to continue . Click the button to login<br></h2>
            </div>
            <br>
            <div id="warningButton">
                <button mat-fab extended color="warn" routerLink="/Login">
                    <i class="fa-solid fa-right-to-bracket"></i>
                    Login
                </button>
            </div>
        </div>
    </ng-template>
</div>


