<footer class="dark-theme" >
    <div class="footer-container">
      <div class="footer-section about">
        <h2>About Us</h2>
        <p>Welcome to goldman cafe, where we believe that great coffee and good food can make a difference in people's lives.</p>
      </div>
      <div class="footer-section contact">
        <h2>Contact Us</h2>
        <ul>
          <li><i class="fa fa-map-marker"></i> 123 Main St, City</li>
          <li><i class="fa fa-phone"></i> (+91) 8072958226</li>
          <li><i class="fa fa-envelope"></i> Goldmansupport@mycafe.com</li>
        </ul>
      </div>
      <div class="footer-section social">
        <h2>Follow Us</h2>
        <div class="social-icons">
          <a href="#"><i class="fa fa-facebook"></i></a>
          <a href="#"><i class="fa fa-twitter"></i></a>
          <a href="#"><i class="fa fa-instagram"></i></a>
        </div>
      </div>
    </div>
    <div class="footer-bottom">
      <p>&copy; {{presentYear}} GoldmanCafe | All rights reserved.</p>
    </div>
</footer>
  