.mat-stepper-horizontal {
    margin-top: 8px;
  }
  
  .mat-mdc-form-field {
    margin-top: 16px;
  }

  .month-year-picker {
    width: 240px;
  }
  
  .mat-calendar-period-button {
    display: none;
  }